.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
**/__pycache__/**
.ipynb_checkpoints/
data/coco/
data/obj365/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
output/*/*.pth
output/*/eval/
imgs/
figs/
plot*.py
*.onnx
*.engine
